*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(79, 77, 77, 0.851), black);
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    color: transparent;
    padding: 15px 45px 15px 45px;
    background-image: url('https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?auto=format&fit=crop&q=80&w=1562&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.1);
    }
}
.nav a{
    text-decoration: none;
    padding:0 30px 0 5px;
    color: whitesmoke;
    font-size: 20px;
}
.nav a:hover{
    color: aquamarine;
    transition-duration: .3s;
}
.container{
    display: flex;
    justify-content: center;
    
}
.container div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    height: 500px;
    margin-top: 4%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-image: url("Images/aboutpic.jpeg");
    background-size: cover;
}
h1{
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}
p{
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    letter-spacing: 2px;
    margin: 2%;
    margin-top: -1.7%;
}
h4{
    width: 500px;
    text-align: center;
    color: whitesmoke;  
}
.bx{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid white 2px;
    font-size: 25px;
    padding: 6px;
    color: aquamarine;
}
.icon{
    width:50%;
    text-align: center;
}
.bxl-facebook:hover{
    background-color: #4267B2;
    transform: scale(1.2);
    transition: ease .5s;
}
.bxl-instagram:hover{
    background-color:#E1306C;
    transform: scale(1.2);
    transition: ease .5s;
}
