*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
body{
    background-image: url("https://images.unsplash.com/photo-1570560258879-af7f8e1447ac?auto=format&fit=crop&q=80&w=1548&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: relative;
    font-size: 30px;
    color: whitesmoke;
    padding: 3%;
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.5);
    }
    75%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.1);
    }
}
.nav{
    position: relative;
    left: -3%;
}
#hov::after{
    content: " ";
    position: absolute;
    left: 1%;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: aquamarine;
    transition: all ease .5s;
}
#hov:hover::after{
    width: 21%;
}
#hov:hover{
    color: aquamarine;
}
a{
    color: whitesmoke;
    text-decoration: none;
    padding: 2px 10px;
    font-weight: 900;
    font-size: 20px;
}
#hov2::after{
    content: " ";
    position: absolute;
    left: 26%;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: aquamarine;
    transition: all ease .5s;
}
#hov2:hover::after{
    width: 44.5%;
}
#hov2:hover{
    color: aquamarine;
}
#hov3::after{
    content: " ";
    position: absolute;
    left: 74%;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: aquamarine;
    transition: all ease .5s;
}
#hov3:hover::after{
    width: 25%;
}
#hov3:hover{
    color: aquamarine;
}
.container{
    position: relative;
    width: 50%;
    height: 500px;
    border: solid 5px;
    border-color: rgba(255, 255, 255, .69);
    border-radius: 5px;
    margin-left: 22%;
    margin-right: 20%;
    
}
.container img{
    width: 100%;
    height: 100%;
}
.container .navi{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 15px;
    display:flex;
    justify-content: space-between;
    backdrop-filter: blur(20px);
}
.navi a::after{
    content: "";
    position: absolute;
    left: 6px;
    bottom: 0;
    height: 3px;
    background-color: aquamarine;
    transition: all ease .5s;
}
.navi a:hover::after{
    width: 90%;
}
.navi a:hover{
    color: aquamarine;
    transform: scale(1.2);
    transition-duration: .5s;
}



